<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Authorize</title>
</head>

<body>
    <p>Authorize</p>
    Environment variables:
    <table>
        <tr><td>client_id: </td><td id="client_id">{{ client_id }}</td></tr>
        <tr><td>base url: </td><td id="base_url">http://{{ okta_org }}</td></tr>
        <tr><td>redirect uri: </td><td id="redirect_uri">{{ redirect_uri }}</td></tr>
    </table>

    <script type="text/javascript">
    var cid = document.getElementById('client_id').innerHTML;
    var base = document.getElementById('base_url').innerHTML;
    var redirect_uri = document.getElementById('redirect_uri').innerHTML;

    var redirect_uri = redirect_uri;

    var auth_url = base + "/oauth2/v1/authorize"
    + "?client_id=" + cid
    + "&response_type=id_token"
    + "&state=somestate"
    + "&nonce=somenonce"
    + "&scope=openid+profile+groups+address"
    + "&redirect_uri=" + redirect_uri;

    window.location.href = auth_url;
    </script>
</body>
</html>