<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Callback page</title>
</head>

<body>
    <div id="token_header">
        <p>Token header</p>
        <textarea id="header_text" readonly rows="4" cols="120">

        </textarea>
    </div>
    <div id="payload">
        <p>Payload</p>
        <textarea id="payload_text" readonly rows="30" cols="120">

        </textarea>
    </div>
    <div id="signature">
        <p>Signature</p>
        <textarea id="sig_text" readonly rows="7" cols="120">

        </textarea>
    </div>

    <script type="text/javascript">
    var urlParams;
    (window.onpopstate = function () {
        var match,
            pl     = /\+/g,  // Regex for replacing addition symbol with a space
            search = /([^&=]+)=?([^&]*)/g,
            decode = function (s) { return decodeURIComponent(s.replace(pl, " ")); },
            query  = window.location.hash.substring(1);

        urlParams = {};
        while (match = search.exec(query)) {
            urlParams[decode(match[1])] = decode(match[2]);
        }
    })();
    var token = urlParams['access_token'];
    var id_token = token.split(".");


    function prettyPrint(ugly) {
        var obj = JSON.parse(ugly);
        return JSON.stringify(obj, undefined, 4);
    }

    var header = id_token[0];
    document.getElementById('header_text').innerHTML = prettyPrint(window.atob(header));

    var payload = id_token[1];
    document.getElementById('payload_text').innerHTML = prettyPrint(window.atob(payload));

    var signature = id_token[2];
    document.getElementById('sig_text').innerHTML = signature;

    </script>
</body>
</html>