<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>OIDC App</title>
</head>

<body>
    <p>Some page</p>

    <script type="text/javascript">
    var show_cookies = function() {
        console.log('show cookies');
        var cookies = document.cookie.split(';');
        for(var i=0 ; i < cookies.length ; ++i) {
            console.log(cookies[i]);
            var pair = cookies[i].trim().split('=');
        }
        return 1;
    };
    var one = show_cookies();

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');
    console.log(csrftoken);

    var xhttp = new XMLHttpRequest();
    url = "https://zeekhoo.okta.com/api/v1/sessions/me"

    xhttp.open("GET", url);
    xhttp.send();
    xhttp.onreadystatechange = function() {
        res = xhttp.response;
        console.log(res);
    }
    </script>
</body>
</html>